NEXT_PUBLIC_SUPABASE_URL="https://irlmvmwoadybkstligcy.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_5fzcpDNLi6LKoSXSxZDUaA_vpjTYKNa"
ADMIN_WHATSAPP_PHONE=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
BOSTA_API_KEY=""
BOSTA_WEBHOOK_SECRET=""
BOSTA_BASE_URL=""
ADMIN_SESSION_SECRET=""
